.jumbotron {
    color: white;
    background-image: url("/images/bisonwallet-screenshot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
