<a name="about"></a>
<div class="container glowborder">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-lg-3">
            <p class="h4 neontext">Non-Custodial</p>
            <p>You'll never give up custody over your funds. Your keys. Your coins.</p>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-lg-3">
            <p class="h4 neontext">No Fees</p>
            <p>Trade as much or as little as you want, nobody profits from your activity but you. </p>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-lg-3">
            <p class="h4 neontext">Private</p>
            <p>Third-parties are avoided at all costs. Plus, we have SPV and mixing.</p>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-lg-3">
            <p class="h4 neontext">Trading Bots</p>
            <p>Multi-Exchange arbitrage and market making bot functions.</p>
        </div>
    </div>
</div>