<nav class="navbar navbar-expand-md glass">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://bisonwallet.org">
            <img src="/images/bw-logo.svg" class="logo" alt="{{ site.Title }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ .Site.Language.LanguageName }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" class="navbar-right">
                        {{ range $.Site.Home.AllTranslations }}
                        {{ if not (eq .Language.LanguageName $.Site.Language.LanguageName) }}
                        <li class="nav-item">
                            <a class="dropdown-item" href="{{ .Permalink }}" data-language="{{ .Lang }}">{{
                                .Language.LanguageName }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>